{% extends 'base.html.twig' %}

{% block body %}
<h1>Теплоходы по алфавиту</h1>
<br>
				{% for ship in ships %}				
					<div class="col-xs-6 col-md-6 ">
					<a href="{{path('page',{'first':'cruise','second':'ship','name':ship.code})}}">{{ship.title}}</a><br>
					<a href="{{path('page',{'first':'cruise','second':'ship','name':ship.code})}}"><img src="{{ship.imgurl}} "></a>
					<br>
					<br>
					{% for property in ship.properties %}
						<p>{{property.n}} : {{property.v}}</p>
					{% endfor %}
					</div>
				{% endfor %}

{% endblock %}