{% extends 'base.html.twig' %}

{% block title %}Описание речного круиза {{cruise.route}}{% endblock %}

{% block body %}
<h1>Описание речного круиза  «{{cruise.route}}»</h1>



<p>
Дата отправления:{{cruise.startdate | date("d.m.Y")}}<br>
Дата прибытия:{{cruise.enddate | date("d.m.Y")}}<br>
Длительность круиза (дней): {{cruise.daycount}}<br>
Теплоход: <a href="{{path('page',{'first':'cruise','second':'ship','name':cruise.ship.code})}}">{{cruise.ship.title}}</a><br>
Маршрут: {{cruise.route}} 
</p>

<hr>
<h3>Программа круиза</h3>

<table class="table  table-hover">
	<tr>
		<th>Дата</th>
		<th style="    width: 110px;">Время</th>
		<th>Стоянка	</th>
		<th>Программа дня</th>
	</tr>
{% for item in cruise.programItems %}



	<tr>
		<td>{{item.date | date("d.m.Y")}}</td>
		<td>{{item.date | date("H:i")}} - {{item.dateStop | date("H:i")}}</td>
		<td>
		{% if (item.place != null) and (item.place.url != '')  %}
			<a href="{{path('page',{'first':'cruise','second':'settlement','name':item.place.url})}}"></a>{{item.place.title}}
		{% else %}
			{{item.placetitle}}
		{% endif %}	
		</td>
		<td>{{item.description | raw}}</td>
	</tr>
	

	
{% endfor %}	
</table>



<hr>
<h3>Стоимость тура на 1 человека *</h3><br>
<div class="table-responsive">

{% if (cruise.code.specialOffer == 1) %}
	<span style="color:red; font-weight:700;">* На некоторые каюты распространяется специальный тариф -10% от указанной стоимости</span><br><br>
{% endif %}

<table class="table  table-hover">
{% for  deckName, deck in cabins %}

	<tr>
		<td  style="width:100px;">{{deckName}}</td>
		<td>
			<table class="table  table-hover" style="width: 100%;" >
				{% for type in deck %}
				<tr>
					<td style="width:30%;">{{type.deckName}}<br>
					
					{#% for room in type.cabin.rooms %}
						<span {% if (room.roomId.specialOffer == 1 and cruise.code.specialOffer == 1) %} style="color:red; font-weight:700;" {% endif %}>{{room.roomNumber}} </span>
						
					{% endfor %#}
					
					</td>
					<td>
						<table class="table table-hover">
						{% for rpName, rp in type.rpPrices  %}
							<tr>
								<td>
									{{rpName}}
								</td>
								{% for tariff,price in rp.prices %}
								<td>
								{{tariff}}<br>
			
									<b>{{price.price|number_format(0, '.', ' ')}}  руб.</b>

								</td>
								{% endfor %}
							</tr>
						{% endfor %}	
						</table>
					</td>
				</tr>
				{% endfor %}
				

			</table>
		</td>
	</tr>

{% endfor %}
</table>
</div>
{#

<table class="table  table-hover">
	<tr>
		<th>Палуба</th>
		<th>Каюта</th>
		<th>Размещение</th>
		<th>Тариф</th>
		<th>Стоимость</th>
	</tr>
{% for item in cruise.prices %}
	<tr>
		<td>{{item.cabin.deckId.name}}</td>
		<td>{{item.cabin.rtId.rtComment}}<br>

		{% for room in item.cabin.rooms%}
			<span {% if (room.roomId.specialOffer == 1) %} style="color:red;" {% endif %}>{{room.roomnumber}} </span>
		{% endfor %}
		</td>
		<td>{{ item.rpId.rpName}}</td>
		<td>{{ item.tariff.name}}</td>
		<td>
		{% if cruise.code.burningCruise %}
			<span style=" text-decoration:line-through;">{{item.price}}  руб.</span><br>
			<span style="color:red; ">{{(item.price*0.75) | round}} руб.</span>			
			
			
		{% else %}
		{{item.price}}  руб.
		{% endif %}
		</td>
	</tr>
{% endfor %}


</table>
#}
<p>* Цены действительны на момент публикации и могут незначительно измениться до полной оплаты рейса.</p>


{% endblock %}