{% extends 'base.html.twig' %}

{% block title %}Описание речного круиза {{cruise.route}}{% endblock %}

{% block body %}


<h1>Описание речного круиза  «{{cruise.route}}»</h1>



<p>
Дата отправления:{{cruise.startdate | date("d.m.Y")}}<br>
Дата прибытия:{{cruise.enddate | date("d.m.Y")}}<br>
Длительность круиза (дней): {{cruise.daycount}}<br>
Теплоход: <a href="{{path('page',{'first':'cruise','second':'ship','name':cruise.ship.code})}}">{{cruise.ship.title}}</a><br>
Маршрут: {{cruise.route}} 
</p>

<hr>
<h3>Программа круиза</h3>

<table class="table table-striped ">
<thead>
	<tr>
		<th>Дата</th>
		<th style="    width: 110px;">Время</th>
		<th>Стоянка	</th>
		<th>Программа дня</th>
	</tr>
</thead>	
{% for item in cruise.programItems %}



	<tr>
		<td>{{item.date | date("d.m.Y")}}</td>
		<td>{{item.date | date("H:i")}} - {{item.dateStop | date("H:i")}}</td>
		<td>
		{% if (item.place != null) and (item.place.url != '')  %}
			{#<a href="{{path('page',{'first':'cruise','second':'settlement','name':item.place.url})}}"></a>#}{{item.place.title}}
		{% else %}
			{{item.placetitle}}
		{% endif %}	
		</td>
		<td>{{item.description | raw}}</td>
	</tr>

	
{% endfor %}	
</table>



<hr>
<h3>Стоимость тура на 1 человека * 
{% if (cruise.turOperator == "vodohod") %}
<a href="http://booking.rech-agent.ru/cruise/{{cruise.code.code}}" style="float: right;" class="btn btn-danger btn-lg ">Купить онлайн</a>
{% else %}
<a href="javascript://" data-code="{{cruise.code.code}}" style="float: right;" class="btn btn-danger btn-lg modal-zayavka ">Оставить заявку</a>
{% endif %}
</h3>


<div style="clear:both;"></div>
<br>

{#% if (cruise.code.specialOffer == 1) %}
	<span style="color:red; font-weight:700;">* На выделенные каюты распространяется специальный тариф -10% от указанной стоимости</span><br><br>
{% endif %}

{% if (cruise.code.burningCruise == 1) %}
	<span style="color:red; font-weight:700;">* На выделенные каюты распространяется специальный тариф -20% от указанной стоимости</span><br><br>
{% endif %#}



{% if (cabins != null) %}

<table class="table table-striped  ">
<thead>
	<tr>
		<th>Палуба</th>
		<th>Тип каюты</th>
		<th>Размещение</th>
		<th>
		<table style="width:100%;">
			<tr>
				{% for tariff,one in tariff_arr %}	
					<td style="width:{{ (100/(tariff_arr|length))|round }}%; text-align:center;">
						{{tariff}}
					</td>
				{% endfor %} 
			</tr>
		</table>
		
		</th>
	</tr>
</thead>


{% for  deckName, deck in cabins %}
	{% for type in deck %}
		{% for rpName, rp in type.rpPrices  %}
			<tr>
				<td>{{deckName}}</td>
				<td>{{type.cabinName}}<br>
					{% if (type.rooms|length > 0) %}
					№№ 
					{% endif %}
					{% for room in type.rooms %}
						<span style="color:red; font-weight:700;" >{{room}} </span>
						
					{% endfor %}</td>
				<td>{{rpName}}</td>
				<td>
				<table style="width:100%; ">
					<tr>
					
						{% for tariff,one in tariff_arr %}

						
						<td style="width:{{ (100/(tariff_arr|length))|round }}%; text-align:center;">
						
						{% if (rp.prices[tariff]) is defined %}	
						
								{#
								{% if (type.rooms|length > 0) %}
									{% if (cruise.code.specialOffer == 1) %}
										<span style=" text-decoration:line-through;">{{(rp.prices[tariff]).price|number_format(0, '.', ' ')}}  руб.</span><br>
										<span style="color:red; "><b>{{((rp.prices[tariff]).price*0.9) | round|number_format(0, '.', ' ')}} руб.</b></span>			
									{% endif %}
									{% if (cruise.code.burningCruise == 1) %}
										<span style=" text-decoration:line-through;">{{(rp.prices[tariff]).price|number_format(0, '.', ' ')}}  руб.</span><br>
										<span style="color:red; "><b>{{((rp.prices[tariff]).price*0.8) | round |number_format(0, '.', ' ')}} руб.</b></span>		
									{% endif %}
									
								{% else %}	
									<b>{{(rp.prices[tariff]).price|number_format(0, '.', ' ')}}  руб.</b>
								{% endif %}
								
								#}
								
								
								
								{% for mealName,meal in rp.prices[tariff] %}

									
								{% if (type.rooms|length > 0) %}
									{% if (cruise.code.specialOffer == 1) %}
										<span style=" text-decoration:line-through;">{{meal.price|number_format(0, '.', ' ')}}  руб.</span><br>
										<span style="color:red; "><b>{{(meal.price*0.9) | round|number_format(0, '.', ' ')}} руб.</b></span>			
									{% endif %}
									{% if (cruise.code.burningCruise == 1) %}
										<span style=" text-decoration:line-through;">{{meal.price|number_format(0, '.', ' ')}}  руб.</span><br>
										<span style="color:red; "><b>{{(meal.price*0.8) | round |number_format(0, '.', ' ')}} руб.</b></span>		
									{% endif %}
									
								{% else %}	
									<p style=""><span >{{mealName}}</span> <b>{{meal.price|number_format(0, '.', ' ')}}  руб.</b></p>
								{% endif %}
									
									
									
								{% endfor %}
		
						{% endif %}
						</td>						
						
						{% endfor %}					

					</tr>
				</table>
				</td>
			</tr>
		{% endfor %}
	{% endfor %}
{% endfor %}
</table>


<p>* Цены действительны на момент публикации и могут незначительно измениться до полной оплаты рейса.</p>
{% else %}
<p>Нет доступных круизов</p>
{% endif %}



{% endblock %}