<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Маршрут</th>
        <th>Теплоход</th>
        <th>Отправление</th>
        <th>Дней</th>
        <th>Цена от</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
	
	{% for cruise in cruises %}	

      <tr>
        <td style="width:45%;"><a href="{{path('homepage')}}cruise/cruisedetails/{{cruise.cruiseUrl.shipCode}}_{{cruise.cruiseUrl.code}}.html">{{cruise.route}}</a></td>
        <td><a href="{{path('page',{'first':'cruise','second':'ship','name':cruise.cruiseUrl.shipCode})}}">{{cruise.ship}}</a></td>
        <td>{{cruise.start}}</td>
        <td>{{cruise.days}}</td>
        <td>{{cruise.minprice | raw }}</td>
        <td>{% if (cruise.burningCruise) %} «Горящий» круиз <br>{% endif %}
        {% if (cruise.reductionPrice) %} Снижена цена <br>{% endif %}
        {% if (cruise.specialoffer) %} Специальный тариф {% endif %}</td>

        <td><a href="{{path('page',{'first':'cruise','second':'order','name':cruise.cruiseUrl.shipCode ~ '_' ~ cruise.cruiseUrl.code}) }}">Забронировать</a></td>
		
      </tr>					
					
	{% endfor %}
	
    </tbody>
  </table>
</div>

